
  body::before {

    text-align: left;
    margin: auto;
    font-family: 'Open Sans', sans-serif;

      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
  }

  
  #logo {
    display: flex;
    align-items: center;
    justify-content: center;

 }

 .search {
  padding: 20px;
  display: flex;
}

.search input {
  border: 1px solid #d9d9d9;
  padding: 10px;
  width: 70%;
  color: #000000;
  font-weight: bold;
  margin-right: 10px;
}

#estilo-boton {
  padding: 8px;
  background: #032358;
  border: 1px solid #032358;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
  width: 20%;
}

#renderizado-datos {
  background: #ffffff;
  padding: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}


.resultado-api {
  display: flex;
}

.imagen-portada img {
  width: 288px;
}

